<Section>
<div class="wrapper">
    <h2 class="wrapper-title">Some content ..a little</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section class="diagonal">
<div class="wrapper">
    <h2 class="wrapper-title">Diagonal</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section>
<div class="wrapper">
    <h2 class="wrapper-title">Some more content to entertain</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section class="spikes">
<div class="wrapper">
    <h2 class="wrapper-title">Spikes</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section>
<div class="wrapper">
    <h2 class="wrapper-title">Some more more more content </h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section class="waves">
<div class="wrapper">
    <h2 class="wrapper-title">Waves</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Enim illo, dolore doloribus tempore iure consectetur.</p>
</div>
</Section>


<Section>
    <div class="wrapper">
        <h2 class="wrapper-title">Some more more more content </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Enim illo, dolore doloribus tempore iure consectetur.</p>
    </div>
    </Section>


<Section class="lines">
    <div class="wrapper">
        <h2 class="wrapper-title lines-title">Some more more more content </h2>
        <p class="lines-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Enim illo, dolore doloribus tempore iure consectetur.</p>
    </div>
</Section>

<Section>
    <div class="wrapper">
        <h2 class="wrapper-title">Some more more more content </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Enim illo, dolore doloribus tempore iure consectetur.</p>
    </div>
</Section>

<Section>
    <div class="wrapper">
        <h2 class="wrapper-title">Some more more more content </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Enim illo, dolore doloribus tempore iure consectetur.</p>
    </div>
</Section>

